{% extends 'base.html' %}

{% block title %}Polls{% endblock %}

{% block container %}
    <h1>Polls</h1>

{% if latest_question_list %}

    {% for question in latest_question_list %}

      <table>
        <tr>
            <td colspan="2"><h3>{{ question.question_text }}</h3></td>
        </tr>
            <tr>
                <td><p class="date"> Published {{ question.pub_date }}</p></td>
                 <td><p><a class="nav-link" href="{% url 'polls:detail' question.id %}">Vote your choice</a></p></td>
                 <td><p><a class="nav-link" href="{% url 'polls:results' question.id %}">View Result</a></p></td>
            </tr>
      </table>


        {{ question.body|truncatewords:30|linebreaks }}
    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}
 {% include "polls/pagination.html" with page=latest_question_list %}
{% endblock %}

